{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="alert alert-danger shadow">

        <h3>Delete Event</h3>

        <p>

            Are you sure you want to delete

            <strong>{{ event.title }}</strong>?

        </p>

        <form method="POST">

            {% csrf_token %}

            <button
                type="submit"
                class="btn btn-danger">

                Delete

            </button>

            <a
                href="{% url 'calendar' %}"
                class="btn btn-secondary">

                Cancel

            </a>

        </form>

    </div>

</div>

{% endblock %}